// Variables

$brand-primary: #0085A1;
$gray-dark: lighten(black, 25%);
$gray: lighten(black, 50%);
$green: #6ff7bf;
$white-faded: fade(white, 80%);
$gray-light: #eee;
$scale_min: 1.067;
$scale_max: 1.250;
$primary-font: 'Roboto Slab', serif;
$secondary-font: 'Open Sans', sans-serif;
$default-hover-color: #402c71;